@model Intelly_Web.Entities.UserEnt

@{
    Layout = "/Views/Shared/_Access.cshtml";
    ViewData["Title"] = "NewSession";
}
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="80"></a>
            </div>
            <h5 class="font-18 text-center">Inicie Sesion para continuar</h5>

            <form asp-action="Login" asp-controller="Authentication" method="post" class="form-horizontal m-t-30">
                @ViewBag.MensajePantalla
                <div class="form-group">
                    <div class="col-12">
                        <label>Usuario</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Correo" name="User_Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <label>Contraseña</label>
                        <input class="form-control form-control-lg" type="password" placeholder="Contraseña" name="User_Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <div class="checkbox checkbox-primary">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"> Recuerdame</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
