@model Intelly_Web.Entities.UserEnt

@{
    ViewData["Title"] = "ChangePassword";
}
<div class="wrapper-page w-75 h-75">

    <div class="card card-pages shadow-none">

        <div class="card-body">

            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="70"></a>
            </div>
            <h5 class="font-18 text-center">Cambiar Contraseña</h5>

            <form asp-action="ChangePassword" asp-controller="Authentication" method="post" class="pt-3">

             
                <div class="container">

                    <input asp-for="User_Id" type="hidden" />
                    <div class="form-group">
                        <div class="col-md-6 mx-auto">
                            <label>Nueva Contraseña</label>
                            <input asp-for="User_Password" class="form-control form-control-lg" id="password" onkeyup="validPassword()" type="password" placeholder="Nueva contraseña" />
                        </div>
                        <div class="col-md-6 mx-auto">
                            <label>Nueva Contraseña</label>
                            <input class="form-control form-control-lg" id="passwordConfirm" type="password" onkeyup="validPassword()" placeholder="Confirmar nueva contraseña" />
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-md-6 mx-auto">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" id="btnConfirm" type="submit" disable>Cambiar contraseña</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>

<script>
    function validPassword() {
        var pass = document.getElementById("password").value;
        var passConfirm = document.getElementById("passwordConfirm").value;
        var btnConfirm = document.getElementById("btnConfirm");

        if (pass !== "" && pass === passConfirm) {
            btnConfirm.disabled = false; // Habilitar el botón
        } else {
            btnConfirm.disabled = true; // Deshabilitar el botón
        }
    }

    document.addEventListener("DOMContentLoaded", validPassword);
    

</script>


