@{
    Layout = "/Views/Shared/_Access.cshtml";
    ViewData["Title"] = "EmailSent";
}
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="80"></a>
            </div>
            <h5 class="font-18 text-center">El email ha sido enviado exitosamente</h5>
        </div>

    </div>
</div>


