@{
    Layout = "/Views/Shared/_Access.cshtml";
    ViewData["Title"] = "PwdRecovery";
}
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="80"></a>
            </div>
            <h5 class="font-18 text-center">Ingrese sus datos para continuar</h5>

            @using (Html.BeginForm("PwdRecovery", "Authentication", FormMethod.Post, new { @class = "pt-3" }))
            {
                <div class="form-group">
                    <div class="col-12">
                        <label>Correo Electrónico</label>
                        <input class="form-control" name="User_Email" id="email" type="email" onkeyup="validMail()" required placeholder="Correo Electrónico">
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" id="btnConfirm" disable>Recuperar Contraseña </button>
                    </div>
                </div>
                
           }
        </div>

    </div>
</div>

<script>
    function validMail() {
        var pass = document.getElementById("email").value;
        var btnConfirm = document.getElementById("btnConfirm");

        if (pass !== "") {
            btnConfirm.disabled = false; // Habilitar el botón
        } else {
            btnConfirm.disabled = true; // Deshabilitar el botón
        }
    }

    document.addEventListener("DOMContentLoaded", validMail);
</script>


