@model Intelly_Web.Entities.CompanyEnt

@{
    ViewData["Title"] = "NewCompany";
}
<div class="wrapper-page w-75 h-75">

    

        <div class="card-body">

            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="70"></a>
            </div>
            <h5 class="font-18 text-center">Agregar nueva empresa</h5>

            <form asp-action="CreateCompany" asp-controller="Company" method="post" class="pt-3">
                <div class="container">

                    <div class="form-group">
                        <div class="col-md-6 mx-auto">
                            <label>Nombre</label>
                            <input asp-for="Company_Name" class="form-control form-control-lg" type="text" placeholder="Nombre de la Empresa" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 mx-auto">
                            <label>Correo Electrónico</label>
                        <input asp-for="Company_Email" class="form-control form-control-lg" type="email" maxlength="30" placeholder="Correo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 mx-auto">
                            <label>Teléfono</label>
                        <input asp-for="Company_Phone" class="form-control form-control-lg" type="number" maxlength="8" placeholder="Teléfono" />
                        </div>
                    </div>
              
                    <div class="form-group text-center m-t-20">
                        <div class="col-md-6 mx-auto">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Agregar Empresa</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

  
</div>

