
@{
     ViewData["Title"] = "AgregarEmpleado";
}
    <body>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Ingresar Nuevo Empleado</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Intelly</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Data</a></li>
                                        <li class="breadcrumb-item active">Ingresar Información</li>
                                    </ol>
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">

                                        <h4 class="mt-0 header-title">Ingresar Información</h4>
                                        <p class="sub-title">Ingrese los datos del nuevo empleado</p>

                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" value="Nombre" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Puesto</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" value="Apellido" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Departamento</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="email" value="Departamento" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-number-input" class="col-sm-2 col-form-label">Edad</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="number" value="Edad" id="example-number-input">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-date-input" class="col-sm-2 col-form-label">Fecha de Contratación</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-number-input" class="col-sm-2 col-form-label">Salario</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="number" value="Salario" id="example-number-input">
                                            </div>
                                        </div>


                                        <button type="button" class="btn btn-info btn-lg waves-effect waves-light">Ingresar Empleado</button>


                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->      


                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metismenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>

    </body>

</html>