@model Intelly_Web.Entities.MarketingCampaignEnt

@{
    ViewData["Title"] = "CreateCampaign";
}

    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Crear Campaña</h4>
                    </div>

                    <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-12">
                        <!-- Left sidebar -->
                        <div class="email-leftbar card">
                            <a href="@Url.Action("EmailMarketing", "Marketing")" class="btn btn-secondary rounded btn-custom btn-block waves-effect waves-light">Ver Campañas</a>
                            <a href="@Url.Action("CreateCampaign", "Marketing")" class="btn btn-danger rounded btn-custom btn-block waves-effect waves-light">Crear campaña</a>
                            <a href="@Url.Action("CreateCampaignEmail", "Marketing")" class="btn btn-secondary rounded btn-custom btn-block waves-effect waves-light">Enviar correo de Campaña</a>
                        </div>
                        <!-- End Left sidebar -->

                        <!-- Right Sidebar -->
                        <div class="table-rightbar mb-3">
                            <div class="card w-75 m-0 auto">
                                <div class="card-body w-100 m-0 auto">

                                <form asp-action="CreateCampaign" asp-controller="Marketing" method="post" class="form-horizontal m-t-30">
                                    <p>Ingresa los datos para crear una nueva campaña</p>
                                    <div class="form-group">
                                        <div class="col-12">
                                            @ViewBag.MensajePantalla
                                            <br />
                                            <label>Codigo</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Codigo" name="MarketingCampaign_Internal_Code" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12">
                                            <label>Nombre de campaña</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Nombre campaña" name="MarketingCampaign_Name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12">
                                            <label>Fecha de Inicio</label>
                                            <input class="form-control form-control-lg" type="date" placeholder="Fecha Inicio" name="MarketingCampaign_Start_Date" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12">
                                            <label>Fecha de Cierre</label>
                                            <input class="form-control form-control-lg" type="date" placeholder="Contraseña" name="MarketingCampaign_End_Date" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="MarketingCampaign_MembershipLevel">Nivel de cliente</label>
                                            <select asp-for="MarketingCampaign_MembershipLevel" asp-items="ViewBag.MembershipLevelList" class="form-control form-control-lg">
                                                <option value="">Seleccionar para qué nivel de cliente será la campaña</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group text-center m-t-20">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light">Crear nueva campaña</button>
                                        </div>
                                    </div>
                                </form>

                                </div>
                            </div>
                        </div>

                        <!-- end Col-9 -->

                    </div>

                </div>
                <!-- End row -->
                <!-- content -->


            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
    </div>
